/* signup-style.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
.top-bar {
    background-color: #1DA1F2;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

/* Main styles */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Sign-up form styles */
.signup-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center; /* Centrer le contenu du formulaire */
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0d8bf9;
}

.signup-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}
